blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{
    margin:0;padding:0
}

.index {
    position: relative;
    width: 1920px;
    height: 1080px;
    padding: 0px 50px;
    padding-top: 100px;
    background-color: blueviolet;
}
.data{
    width: 200px;
    height: 1080px;
    background-color: red;
    z-index: 70;
    float: left;
    margin-left: 0;
}


#earth{
    width: 1000px;
    height: 1080px;
    float: left;
    /* margin-left: -200px; */
    margin-left: 0;
}


.year{
    position: relative;
    width: 300px;
    height: 1080px;
    background-color: blue;
    z-index: 70;
    float: left;
    margin-left: 1420px;
}

