<%= require('html-loader!./components/head.html') %>
<header class="main-header">
    <div class="main-logo directory-logo"></div>
</header>
<div class="directory">
    <div class="source clearfix bg-corner">
        <table class="table">
            <tbody>
            <tr>
                <td class="directory-mark">
                    <img src="${require(`../images/directory/source.png`)}" alt="数据来源区域"/>

                    <div class="source-text">数据来源区域</div>
                </td>
                <td class="table-list">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>兵团</td>
                            <td>第一师阿拉尔市</td>
                            <td>第二师铁门关市</td>
                            <td>第三师图木舒克市</td>
                            <td>第四师可克达拉市</td>
                            <td>第五师双河市</td>
                            <td>第六师五家渠市</td>
                            <td>第七师</td>
                        </tr>
                        <tr>
                            <td>第八师石河子市</td>
                            <td>第九师</td>
                            <td>第十师北屯市</td>
                            <td>建工师</td>
                            <td>第十二师</td>
                            <td>第十三师</td>
                            <td>第十四师昆玉市</td>
                            <td>&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>


        <span class="corner-mark corner-lb"></span>
        <span class="corner-mark corner-lt"></span>
        <span class="corner-mark corner-tr"></span>
        <span class="corner-mark corner-br"></span>
    </div>

    <div class="clazz clearfix bg-corner">
        <table class="table">
            <tbody>
            <tr>
                <td class="directory-mark">
                    <img src="${require(`../images/directory/clazz.png`)}" alt="数据来源区域"/>

                    <div class="source-text">行业分类</div>
                </td>
                <td class="table-list">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>纪律监察</td>
                            <td>党政服务</td>
                            <td>保密</td>
                            <td>机要</td>
                            <td>机关事务</td>
                            <td>信访</td>
                            <td>档案</td>
                            <td>党史研究</td>
                        </tr>
                        <tr>
                            <td>电子政务</td>
                            <td>公共资源</td>
                            <td>组织人事</td>
                            <td>老干部管理</td>
                            <td>宣传</td>
                            <td>军事国防</td>
                            <td>政法</td>
                            <td>政策研究</td>
                        </tr>
                        <tr>
                            <td>机构编制</td>
                            <td>直属党务</td>
                            <td>党员干部教育</td>
                            <td>发展改革</td>
                            <td>国资管理</td>
                            <td>工业信息</td>
                            <td>教育体育</td>
                            <td>科技</td>
                        </tr>
                        <tr>
                            <td>民政</td>
                            <td>财政</td>
                            <td>人事</td>
                            <td>建设</td>
                            <td>交通</td>
                            <td>环保</td>
                            <td>水利</td>
                            <td>农业</td>
                        </tr>
                        <tr>
                            <td>商业</td>
                            <td>卫生</td>
                            <td>食品药品</td>
                            <td>计划生育</td>
                            <td>审计</td>
                            <td>国民经济统计</td>
                            <td>国土资源</td>
                            <td>质量监督</td>
                        </tr>
                        <tr>
                            <td>安全生产监督</td>
                            <td>援疆</td>
                            <td>法院</td>
                            <td>检查</td>
                            <td>公安</td>
                            <td>司法</td>
                            <td>工会</td>
                            <td>青年团建</td>
                        </tr>
                        <tr>
                            <td>妇联</td>
                            <td>文联</td>
                            <td>工商联</td>
                            <td>残联</td>
                            <td>红十字会</td>
                            <td>监狱</td>
                            <td>公积金</td>
                            <td>统计调查</td>
                        </tr>
                        <tr>
                            <td>对外事务</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>


        <span class="corner-mark corner-lb"></span>
        <span class="corner-mark corner-lt"></span>
        <span class="corner-mark corner-tr"></span>
        <span class="corner-mark corner-br"></span>
    </div>
</div>
<%= require('html-loader!./components/footer.html') %>