<%= require('html-loader!./components/head.html') %>
<%= require('html-loader!./components/header.html') %>
<div class="index">
    <div id="carousel" data-carousel-3d>
        <img src="${require(`../images/index/0.png`)}" selected/>
        <img src="${require(`../images/index/1.png`)}"/>
        <img src="${require(`../images/index/2.png`)}"/>
        <img src="${require(`../images/index/3.png`)}"/>
        <img src="${require(`../images/index/4.png`)}"/>
        <img src="${require(`../images/index/0.png`)}"/>
        <img src="${require(`../images/index/1.png`)}"/>
        <img src="${require(`../images/index/2.png`)}"/>
        <img src="${require(`../images/index/3.png`)}"/>
        <img src="${require(`../images/index/4.png`)}"/>
    </div>
    <div class="light"></div>
</div>
<%= require('html-loader!./components/footer.html') %>