<header class="main-header">
    <div class="main-logo"></div>
    <ul class="main-nav">
        <li><a href="./collection.html" target="_blank">数据采集</a></li>
        <li><a href="./directory.html" target="_blank">数据目录</a></li>
        <li><a href="./share.html" target="_blank">数据共享</a></li>
        <li class="main-dropdown">
            <a class="main-dropdown-target" href="javascript:void(0);">数据应用</a>
            <ul class="main-dropdown-content">
                <li><a href="#" target="_blank">公共资源交易中心</a></li>
                <li><a href="./app.html" target="_blank">电子政务</a></li>
            </ul>
        </li>
    </ul>
</header>